body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

/* Original styles for the quiz container */
#quiz-container {
    max-width: 600px;
    margin: 0 auto 20px; /* Added bottom margin for spacing */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#scientific-name {
    font-size: 18px;
    font-weight: bold;
}

#user-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
}

#result {
    white-space: pre-wrap;
}

/* Styles for the "Other Services" section */
#other-services {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: left;
}

#other-services h2 {
    margin-top: 0;
}

#other-services ul {
    list-style-type: none;
    padding: 0;
}

#other-services li {
    margin-bottom: 10px;
}

#other-services a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

#other-services a:hover {
    background-color: #45a049;
}
#homepage-button-container {
    text-align: center;
    margin-top: 20px;
}

#homepage-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
	margin: 0 auto 20px;
}
#info-container {
    text-align: center;
    margin-top: 20px;
	max-width: 600px;
    margin: 0 auto 20px; /* Added bottom margin for spacing */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
